{
  "openapi": "3.1.0",
  "info": {
    "title": "Yadulink Public API",
    "version": "v1",
    "description": "Public Yadulink API for API credits, n8n, webhooks, jobs, leads and lists.\n\n## Versioning and deprecation policy\nThe API is versioned in the URL path (`/api/v1/`). Breaking changes only ship in a new path version (for example `/api/v2/`). Deprecated fields and operations keep working during a documented migration window and are announced with `Deprecation` and `Sunset` response headers plus the changelog at https://yadulink.com/changelog before removal.\n\n## Reliability contract\nErrors are always JSON with a machine-readable `error.code`. Write operations accept an `Idempotency-Key` header (safe retries; conflicting reuse returns 409). Long-running LinkedIn actions run as asynchronous jobs: `POST /actions/{operation}/jobs` returns `202 Accepted` and `GET /jobs/{job_id}` reports progress. Responses carry IETF `RateLimit` headers; on 429, honor `Retry-After`.\n\nAuthentication guide: https://yadulink.com/auth.md",
    "contact": {
      "name": "Yadulink support",
      "email": "support@yadulink.com",
      "url": "https://yadulink.com/contact"
    }
  },
  "externalDocs": {
    "description": "Yadulink API guides: authentication, credits, jobs, webhooks and n8n.",
    "url": "https://docs.yadulink.com/api/introduction/"
  },
  "servers": [
    {
      "url": "https://app.yadulink.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Authentication check, eligibility, limits and the machine-readable contract."
    },
    {
      "name": "Credits",
      "description": "Credit balance, ledger, price quotes and credit packs."
    },
    {
      "name": "Lists",
      "description": "Lead lists: the containers a sequence is run against."
    },
    {
      "name": "Leads",
      "description": "Leads inside a list, with search and filters."
    },
    {
      "name": "Actions",
      "description": "LinkedIn-side actions. They never run inline: each one creates a job so credits can be reserved, safety budgets enforced, and the reservation refunded when the action fails."
    },
    {
      "name": "Jobs",
      "description": "Status and cancellation of the asynchronous jobs actions create."
    },
    {
      "name": "Messages",
      "description": "LinkedIn conversations synced to Yadulink, read-only."
    },
    {
      "name": "Webhooks",
      "description": "Outbound event delivery: endpoints, signatures, health and replays."
    },
    {
      "name": "Zapier",
      "description": "Polling triggers and REST hook subscriptions used by the Zapier connector."
    },
    {
      "name": "Discovery",
      "description": "Machine-readable description of this API."
    },
    {
      "name": "API keys",
      "description": "Key management from a signed-in Yadulink session. These back the Integrations console; an API key cannot manage keys."
    },
    {
      "name": "Prospect Radar",
      "description": "Internal Yadulink growth tooling. Documented so its calls are traceable, not offered as part of the customer contract; these operations require an internal account."
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "get_me",
        "summary": "Test authentication and retrieve the API key owner.",
        "description": "Test authentication and retrieve the API key owner.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [],
        "x-yadulink": {
          "method": "GET",
          "path": "/me",
          "scopes": [],
          "credits": 0,
          "description": "Test authentication and retrieve the API key owner."
        }
      }
    },
    "/account/status": {
      "get": {
        "operationId": "get_account_status",
        "summary": "Check API eligibility, subscription access, and LinkedIn connection status.",
        "description": "Check API eligibility, subscription access, and LinkedIn connection status.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "account:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/account/status",
          "scopes": [
            "account:read"
          ],
          "credits": 0,
          "description": "Check API eligibility, subscription access, and LinkedIn connection status."
        }
      }
    },
    "/account/limits": {
      "get": {
        "operationId": "get_account_limits",
        "summary": "Read rate limits, credit allowance, and action-job availability.",
        "description": "Read rate limits, credit allowance, and action-job availability.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "account:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/account/limits",
          "scopes": [
            "account:read"
          ],
          "credits": 0,
          "description": "Read rate limits, credit allowance, and action-job availability."
        }
      }
    },
    "/developer/manifest": {
      "get": {
        "operationId": "get_developer_manifest",
        "summary": "Machine-readable public API contract for integrations such as n8n.",
        "description": "Machine-readable public API contract for integrations such as n8n.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "account:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/developer/manifest",
          "scopes": [
            "account:read"
          ],
          "credits": 0,
          "description": "Machine-readable public API contract for integrations such as n8n."
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "get_openapi_json",
        "summary": "Public OpenAPI schema for the Yadulink Public API.",
        "description": "Public OpenAPI schema for the Yadulink Public API.",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [],
        "x-yadulink": {
          "method": "GET",
          "path": "/openapi.json",
          "scopes": [],
          "credits": 0,
          "public": true,
          "description": "Public OpenAPI schema for the Yadulink Public API."
        }
      }
    },
    "/credits/balance": {
      "get": {
        "operationId": "get_credits_balance",
        "summary": "Read the current API credit balance.",
        "description": "Read the current API credit balance.",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "credits:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/credits/balance",
          "scopes": [
            "credits:read"
          ],
          "credits": 0,
          "description": "Read the current API credit balance."
        }
      }
    },
    "/credits/ledger": {
      "get": {
        "operationId": "get_credits_ledger",
        "summary": "Read credit ledger entries with pagination and filters.",
        "description": "Read credit ledger entries with pagination and filters.",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "credits:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/credits/ledger",
          "scopes": [
            "credits:read"
          ],
          "credits": 0,
          "description": "Read credit ledger entries with pagination and filters."
        }
      }
    },
    "/credits/overview": {
      "get": {
        "operationId": "get_credits_overview",
        "summary": "Read credit balance and consumption aggregates for a selected period.",
        "description": "Read credit balance and consumption aggregates for a selected period.",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "cycle"
              ],
              "default": "cycle"
            }
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "credits:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/credits/overview",
          "scopes": [
            "credits:read"
          ],
          "credits": 0,
          "description": "Read credit balance and consumption aggregates for a selected period."
        }
      }
    },
    "/credits/packs": {
      "get": {
        "operationId": "get_credits_packs",
        "summary": "List purchasable credit packs. Checkout must be started in the app session.",
        "description": "List purchasable credit packs. Checkout must be started in the app session.",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "credits:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/credits/packs",
          "scopes": [
            "credits:read"
          ],
          "credits": 0,
          "description": "List purchasable credit packs. Checkout must be started in the app session."
        }
      }
    },
    "/credits/packs/{pack_id}/checkout": {
      "post": {
        "operationId": "post_credits_packs_pack_id_checkout",
        "summary": "Create a Stripe Checkout session for a credit pack from an authenticated app session.",
        "description": "Create a Stripe Checkout session for a credit pack from an authenticated app session.",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pack_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [],
        "x-yadulink": {
          "method": "POST",
          "path": "/credits/packs/{pack_id}/checkout",
          "scopes": [
            "app_session"
          ],
          "credits": 0,
          "description": "Create a Stripe Checkout session for a credit pack from an authenticated app session."
        }
      }
    },
    "/credits/quote": {
      "post": {
        "operationId": "post_credits_quote",
        "summary": "Preview the credit cost of an operation before creating it.",
        "description": "Preview the credit cost of an operation before creating it.",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "credits:read"
        ],
        "x-yadulink": {
          "method": "POST",
          "path": "/credits/quote",
          "scopes": [
            "credits:read"
          ],
          "credits": 0,
          "description": "Preview the credit cost of an operation before creating it."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "get_lists",
        "summary": "List lead lists.",
        "description": "List lead lists.",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "lists:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/lists",
          "scopes": [
            "lists:read"
          ],
          "credits": 0,
          "description": "List lead lists."
        }
      },
      "post": {
        "operationId": "post_lists",
        "summary": "Create a lead list.",
        "description": "Create a lead list.",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Prevents duplicate side effects when retrying a request."
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict: the Idempotency-Key was already used with a different method, path, or body (error.code idempotency_key_reused), or the original request is still running (idempotency_request_in_progress).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "lists:write"
        ],
        "x-yadulink": {
          "method": "POST",
          "path": "/lists",
          "scopes": [
            "lists:write"
          ],
          "credits_operation": "list_create",
          "idempotent": true,
          "description": "Create a lead list.",
          "credits": 1,
          "unit_cost": 1,
          "currency": "credits"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreateRequest"
              }
            }
          }
        }
      }
    },
    "/lists/{list_id}": {
      "get": {
        "operationId": "get_lists_list_id",
        "summary": "Retrieve a lead list.",
        "description": "Retrieve a lead list.",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "lists:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/lists/{list_id}",
          "scopes": [
            "lists:read"
          ],
          "credits": 0,
          "description": "Retrieve a lead list."
        }
      },
      "put": {
        "operationId": "put_lists_list_id",
        "summary": "Update a lead list.",
        "description": "Update a lead list.",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Prevents duplicate side effects when retrying a request."
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict: the Idempotency-Key was already used with a different method, path, or body (error.code idempotency_key_reused), or the original request is still running (idempotency_request_in_progress).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "lists:write"
        ],
        "x-yadulink": {
          "method": "PUT",
          "path": "/lists/{list_id}",
          "scopes": [
            "lists:write"
          ],
          "credits_operation": "list_update",
          "idempotent": true,
          "description": "Update a lead list.",
          "credits": 1,
          "unit_cost": 1,
          "currency": "credits"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListUpdateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_lists_list_id",
        "summary": "Delete a lead list.",
        "description": "Delete a lead list.",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Prevents duplicate side effects when retrying a request."
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict: the Idempotency-Key was already used with a different method, path, or body (error.code idempotency_key_reused), or the original request is still running (idempotency_request_in_progress).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "lists:write"
        ],
        "x-yadulink": {
          "method": "DELETE",
          "path": "/lists/{list_id}",
          "scopes": [
            "lists:write"
          ],
          "credits_operation": "list_delete",
          "idempotent": true,
          "description": "Delete a lead list.",
          "credits": 1,
          "unit_cost": 1,
          "currency": "credits"
        }
      }
    },
    "/lists/{list_id}/leads": {
      "get": {
        "operationId": "get_lists_list_id_leads",
        "summary": "List leads from a specific list.",
        "description": "List leads from a specific list.",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "leads:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/lists/{list_id}/leads",
          "scopes": [
            "leads:read"
          ],
          "credits": 0,
          "description": "List leads from a specific list."
        }
      }
    },
    "/leads": {
      "get": {
        "operationId": "get_leads",
        "summary": "List leads with filters and pagination.",
        "description": "List leads with filters and pagination.",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request; error.code names the exact cause.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. Bearer realm=\"yadulink-api\", error=\"invalid_token\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope (error.code insufficient_scope) or account-level restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (error.code not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Respect Retry-After and the RateLimit headers to self-throttle.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit": {
                "description": "IETF ratelimit structured field (remaining requests and reset delay).",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Policy": {
                "description": "IETF ratelimit policy (quota and window).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (error.code internal_error); safe to retry writes with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-ID": {
                "description": "Correlation id for this call, echoed on every response and stored with the API key usage log. Send your own value to keep it end to end; quote it to support.",
                "schema": {
                  "type": "string"
                }
              },
              "Deprecation": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. (RFC 9745)",
                "schema": {
                  "type": "string"
                }
              },
              "Sunset": {
                "description": "Present only when this operation is scheduled for removal, per the published deprecation policy. Removal date as an HTTP-date (RFC 8594).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "x-yadulink-required-scopes": [
          "leads:read"
        ],
        "x-yadulink": {
          "method": "GET",
          "path": "/leads",
          "scopes": [
            "leads:read"
          ],
          "credits": 0,
          "description": "List leads with filters and pagination."
        }
      },
      "post": {
        "operationId": "post_leads",
        "summary": "Create a lead.",
        "description": "Create a lead.",
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
[...]
